@model WebLivros.Mvc.Models.LivroViewModel

@{
    ViewData["Title"] = "Details";
}

<p>
    <a class="btn btn-outline-secondary" asp-action="Index"><i class="fa fa-mail-reply"></i> Voltar para Listagem</a>
</p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="CreateOrUpdate" asp-route-id="@Model.LivroId"><i class="fa fa-edit"></i> Editar</a>
</div>
